/* .otp-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe08a;
}

.otp-box {
  background: white;
  padding: 40px 50px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.subtitle {
  margin-top: -5px;
  color: #555;
  font-size: 14px;
}

.otp-inputs {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 20px 0;
}

.otp-inputs input {
  width: 50px;
  height: 55px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #bbb;
  border-radius: 8px;
  outline: none;
}

.verify-btn {
  width: 100%;
  padding: 14px;
  background: #5ca058;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.resend {
  margin-top: 12px;
  font-size: 14px;
}

.resend span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
} */
.otp-wrapper {
    background-image: url("../assets/images/Back.bg2.png");
  width: 100%;
  height: 100vh;
  /* background: #f3f3f3; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-box {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.otp-inputs input {
  width: 60px;
  height: 60px;
  font-size: 26px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 8px;
}

.verify-btn {
  width: 100%;
  padding: 14px;
  background: #5ca058;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.resend {
  margin-top: 10px;
  color: #444;
  cursor: pointer;
}

.back-btn {
  margin-top: 15px;
  background: transparent;
  border: none;
  color: #555;
  font-size: 16px;
  cursor: pointer;
}
